frontend/web/static/disagg/
*.h5
*.pyc
*.swp
.cache/
.idea/
/frontend/debug.log
/frontend/.vscode

middleware/middleware.egg-info/

.env
.env.dev
.env.test

# Pthon virtual environment
/venv

# vscode setting file
/.vscode

# DB stored externally
/database/db_data
